mitmproxy==10.2.4
playwright==1.42.0
torch==2.2.1
requests
numpy<2
pillow
httpx>=0.27,<0.28
httpcore>=1.0,<1.0.9
h11>=0.11,<0.15
shanten-sensei>=0.1.0
--find-links https://github.com/shinkuan/Akagi/releases/expanded_assets/v0.1.1-libriichi
riichi>=0.1.1
tkhtmlview
pyinstaller

